uvicorn[standard]==0.13.4
gunicorn==20.1.0
fastapi==0.63.0
python-multipart==0.0.5
psycopg2-binary==2.8.6
configparser==5.0.2
passlib==1.7.4
python-jose==3.2.0
pycryptodome==3.10.1
alembic==1.6.5
datetime==4.3
celery==5.1.2
flower==1.0.0
redis==3.5.3
numpy==1.21.2
pillow==8.3.2
opencv-python==4.5.3.56
#! /usr/bin/env python3
import sys
sys.path.append('/home/vinh/Desktop/test/Lora_Driver')

from Lora_Driver.IoT_Driver import mylora
Lora = mylora(verbose=False)
Lora.debug_on = 0


from time import sleep

Lora.set_freq(479)

while(1):
    val_sw1 = Lora.read_data(1,4)
    val_sw2 = Lora.read_data(1,5)
    val_sw3 = Lora.read_data(1,6)
    print(val_sw1, val_sw2, val_sw3)

    Lora.write_data(1,8,val_sw1)
    sleep(0.1)
    Lora.write_data(1,9,val_sw2)
    sleep(0.1)
    Lora.write_data(1,10,val_sw3)
    sleep(0.1)


